.map {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a8086;
  box-shadow: 0px -10px 9px -10px rgba(34, 60, 80, 0.6) inset;
}

.map-container {
  width: 100%;
  max-width: 1480px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .wrapper-h2 {
    width: 100%;
    h2 {
      margin-top: 26px;
      font-family: "Rubik", monospace;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28.44px;
      color: #c5e1e5;
      text-transform: uppercase;
      letter-spacing: -0.4px;
    }
  }
  .big-map {
    margin-top: 34px;
    margin-left: -16px;
    margin-bottom: 18px;
  }
  .plus {
    position: absolute;
    width: 32.52px;
    height: 32.52px;
    background-image: url(../../assets/icons/plus.svg);
    bottom: 23px;
    right: 90px;
    transition: scale 0.3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2, 1.2);
    }
  }
  .minus {
    position: absolute;
    width: 32.52px;
    height: 32.52px;
    background-image: url(../../assets/icons/minus.svg);
    bottom: 23px;
    right: 41px;
    transition: scale 0.3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2, 1.2);
    }
  }
  [title="eagle"] {
    top: 469px;
    left: 174px;
  }
  [title="aligator"] {
    top: 541px;
    left: 330px;
  }
  [title="gorilla"] {
    top: 640px;
    left: 692px;
  }
  [title="panda"] {
    top: 505px;
    left: 1037px;
  }
  .animal-icon {
    position: absolute;
    text-decoration: none;
    .tooltip {
      margin: 0 auto;
      position: absolute;
      width: 410px;
      height: 107px;
      top: -120px;
      left: -154px;
      background-color: #ffffff;
      display: none;
      pointer-events: none;
      cursor: none;
      border: 1px #0d444d solid;
      border-radius: 10px;
      padding-top: 12px;
      p {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #0d444d;
        display: block;
        margin: 0;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 186px;
        bottom: -30px;
        border: 15px solid transparent;
        border-top: 15px solid #0d444d;
      }
      &::after {
        border-top: 15px solid #ffffff;
        bottom: -29px;
      }
    }
    &:hover .tooltip {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .outer-pic {
      width: 100px;
      height: 93px;
      position: relative;
      background-color: #b9d5d9;
      mask-image: url(../../assets/images/map-outer-mask.svg);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
    }
    .inner-pic {
      width: 73px;
      height: 70.47px;
      position: absolute;
      top: 9px;
      left: 13px;
      mask-image: url(../../assets/images/map-inner-mask.svg);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
      .animal-pic {
        width: 73px;
        height: 70.47px;
      }
    }
    &:hover .outer-pic {
      animation: rotating 0.3s linear;
    }
    &:hover img {
      animation: reverserotating 0.3s linear;
    }
    &:not(:hover) .outer-pic {
      animation: rotating-back 0.3s linear;
    }
    &:not(:hover) img {
      animation: reverserotating-back 0.3s linear;
    }
    @keyframes rotating {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes reverserotating {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
    @keyframes rotating-back {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
    @keyframes reverserotating-back {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
