.testimonials {
  width: 100%;
  min-height: 460px;
  background-color: #f6f9fa;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  .info-block-3 {
    width: 100%;
    max-width: 1480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    h2 {
      font-family: "Rubik", monospace;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28.44px;
      color: #0d444d;
      text-transform: uppercase;
      margin-left: -3px;
    }
    a {
      text-decoration: none;
      .button-leave-feedback {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 255px;
        height: 52px;
        border: 1.5px solid #19707d;
        box-sizing: border-box;
        border-radius: 100px;
        background-color: #f6f9fa;
        font-family: "Roboto Mono", monospace;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23.74px;
        color: #19707d;
        text-transform: uppercase;
        letter-spacing: 2px;
        span {
          color: #19707d;
          position: relative;
          left: 20px;
          &::before {
            content: "";
            background-image: url(../../assets/icons/feedback-icon.png);
            background-size: cover;
            width: 24px;
            height: 24px;
            position: absolute;
            top: -1px;
            left: -38px;
          }
        }
        transition: all 0.3s;
        &:hover {
          cursor: pointer;
          border: 1.5px solid #f6f9fa;
          background-color: #2a8086;
          box-shadow: 0px 0px 8px 6px rgba(34, 60, 80, 0.2);
          span {
            color: #f6f9fa;
            &::before {
              background-color: yellow;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
  .feedback-block {
    width: 100%;
    max-width: 1480px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 19px;
    grid-row-gap: 20px;
    margin-top: 52px;
    .feedbackN {
      width: 480px;
      height: 259px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: #f6f9fa;
      .feedback-text {
        width: 480px;
        height: 190px;
        padding-top: 28px;
        padding-left: 45px;
        box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
        background-color: #ffffff;
        mask-image: url(../../assets/images/feedback-mask.svg);
        mask-repeat: no-repeat;
        mask-position: -31px -29px;
        mask-size: 113%;
        span {
          // display: block;
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #b3b3b3;
        }
        p {
          display: block;
          font-family: "Roboto", sans-serif;
          font-style: italic;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #2d2d2d;
          margin-top: 6px;
          max-width: 415px;
        }
      }
      .feedback-person1 {
        position: relative;
        img {
          margin-left: 20px;
        }
        &::after {
          position: absolute;
          top: 25px;
          left: 100px;
          content: "Adam, Spain";
          white-space: nowrap;
          font-family: "Roboto", sans-serif;
          font-style: italic;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
        }
      }
      .feedback-person2 {
        position: relative;
        img {
          margin-left: 20px;
        }
        &::after {
          position: absolute;
          top: 25px;
          left: 100px;
          content: "Chris, Australia";
          white-space: nowrap;
          font-family: "Roboto", sans-serif;
          font-style: italic;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
        }
      }
      .feedback-person3 {
        position: relative;
        img {
          margin-left: 20px;
        }
        &::after {
          position: absolute;
          top: 25px;
          left: 100px;
          content: "Amely, USA";
          white-space: nowrap;
          font-family: "Roboto", sans-serif;
          font-style: italic;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
        }
      }
    }
  }
}

//adaptive 1200
@media (max-width: 1919px) {
  .testimonials {
    min-height: 390px;
    .info-block-3 {
      width: 100%;
      max-width: 1200px;
      margin-top: 53px;
      padding: 0 30px;
      a {
        .button-leave-feedback {
          width: 236px;
          height: 40px;
          font-size: 16px;
          line-height: 21.1px;
        }
      }
    }
    .feedback-block {
      max-width: 1200px;
      padding: 0 30px;
      grid-column-gap: 18px;
      margin-top: 37px;
      .feedbackN {
        width: 368px;
        height: 259px;
        .feedback-text {
          width: 375px;
          height: 200px;
          mask-image: url(../../assets/images/feedback-mask1200.svg);
          mask-position: -29px -27px;
          mask-size: 113%;
          p {
            max-width: 223px;
          }
        }
      }
    }
  }
}
