main {
  .sidebar {
    .animal-icon:nth-child(3) .outer-pic {
      background-color: #2a8086;
      pointer-events: none;
    }
    .animal-icon:nth-child(3) {
      cursor: default;
    }
    .animal-icon:nth-child(3):active {
      pointer-events: none;
    }
  }
}
